{% extends 'core/base.html' %}
{% block title %}Criar Sala{% endblock %}
{% block content %}
<div class="container text-center mt-5">
    <h1>Editar Sala</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="Numsala">Numero da Sala:</label>
        <input type="number" id="Numsala" name="numsala" value="{{ sala.numsala }}" required><br>

        <label for="Andar">Andar:</label>
        <input type="number" id="Andar" name="andar" value="{{ sala.andar }}" required min="1"><br>

        <label for="Recursos">Recursos:</label>
       <select id="Recursos" name="recursos">
    <option value="Projetor" {% if sala.recursos == "Projetor" %}selected{% endif %}>Projetor</option>
    <option value="Computador" {% if sala.recursos == "Computador" %}selected{% endif %}>Computador</option>
    <option value="Laboratorio" {% if sala.recursos == "Laboratorio" %}selected{% endif %}>Laboratorio</option>
    <option value="Quadra" {% if sala.recursos == "Quadra" %}selected{% endif %}>Quadra</option>
    <option value="Piscina" {% if sala.recursos == "Piscina" %}selected{% endif %}>Piscina</option>
</select>

        <label for="Capacidade">Capacidade:</label>
        <input type="number" id="Capacidade" name="capacidade" value="{{ sala.capacidade }}" required min="1"><br>

        <button type="submit">Salvar Alterações</button>

    </form>
    </div>
{% endblock %}
    