{% extends 'core/base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
<div class="container text-center mt-5">
    <h1>LOGIN</h1>
    <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" id="nome" name="nome" placeholder="Nome" required minlength="3">
    </div>
    <div class="mb-3">
        <input type="text" id="cpf" name="cpf" placeholder="Cpf" required >
    </div>
    <div class="mb-3">
         {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>  
        <button type="submit" class="btn btn-primary">ENTRAR</button>
    </form>
    <a href="{% url 'novo-usuario' %}">Criar conta</a></td>

</div>
{% endblock %}