{% extends 'core/base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="container text-center mt-5">
    <h1>ONDAS CEREBRAIS</h1>
    <form method="POST">
    {% csrf_token %}
        <input type="text" id="nome" name="nome" placeholder="Nome" required minlength="3">
        <input type="text" id="cpf" name="cpf" placeholder="Cpf" required >
         {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <button type="submit">ENTRAR</button>
    </form>
    <a href="{% url 'novo-usuario' %}">Criar conta</a></td>

</div>
{% endblock %}