{% extends 'core/base.html' %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}

{% if conta %}
<link rel="stylesheet" href="{% static 'core/usuarios.css' %}">

<div class="card shadow container"> 



       <h1 class="hero-title">Bem-vindo ao Sistema de Cadastro de Aulas</h1>

        <p>
            Gerencie salas, reservas e usuários de forma simples e organizada.
        </p>

        <div class="quote-box">
            <img src="{% static 'core/img/idea.gif' %}" alt="Educação em movimento" class="quote-gif">

            <blockquote>
                “O objetivo da educação é substituir uma mente vazia por uma mente aberta.”
                <span>— Albert Einstein</span>
            </blockquote>
        </div>

        <div class="hero-buttons">

            {% if conta.nivel == '1' %}
                <button onclick="window.location.href='/minhas-reservas'">
                    Minhas Reservas
                </button>

                <button onclick="window.location.href='/reservar'">
                    Reservar Sala
                </button>

            {% elif conta.nivel == '2' %}
                <button onclick="window.location.href='/nova-sala'">
                    Cadastrar Nova Sala
                </button>

                <button onclick="window.location.href='/reservas'">
                    Ver Reservas
                </button>

            {% endif %}

        </div>

    </div>
</div>

{% else %}
<p>Usuário não autenticado.</p>
{% endif %}

{% endblock %}