
{% extends 'core/base.html' %}
{% block title %}Menu {% endblock %}
{% block content %}

{% if conta %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/usuarios.css' %}">

<div class="hero">
    <div class="hero-content">
        

        <h1>Bem-vindo ao Sistema de Cadastro de Aulas</h1>
 
        <p>
            Gerencie salas, reservas e usuários de forma simples e organizada.
        </p>
        <div>
            <p>
                "O objetivo da educação é substituir uma mente vazia por uma mente aberta."
            </p>
        </div>

        <div class="hero-buttons">

            {% if conta.nivel == '1' %}
                <button onclick="window.location.href='/minhas-reservas'">
                    Minhas Reservas
                </button>

                <button onclick="window.location.href='/reservar'">
                    Reservar Sala
                </button>

            {% elif conta.nivel == '2' %}
                <button onclick="window.location.href='/nova-sala'">
                    Cadastrar Nova Sala
                </button>

                <button onclick="window.location.href='/reservas'">
                    Ver Reservas
                </button>

            {% elif conta.nivel == '3' %}
                
            {% endif %}

        </div>

    </div>
</div>

{% else %}
    <p>Usuário não autenticado.</p>
{% endif %}

{% endblock %}
