{%extends "core/base.html"%}
{%block title%}Reservas{%endblock%}
{%block content%}
{%if conta.nivel > "1"%}
<div class="container text-center mt-5">
    
    {% if reservas|length == 0 %}
        <p class="mt-4">Sem reservas.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sala</th>
                <th>Usuário</th>
                <th>Data da Reserva</th>
                <th>Hora de Início</th>
                <th>Hora de Fim</th>
                <th>Multas</th>
                <th>Preco</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.sala.numsala }}</td>
                <td>{{ reserva.usuario.nome }}</td>
                <td>{{ reserva.data_reserva }}</td>
                <td>{{ reserva.hora_inicio }}</td>
                <td>{{ reserva.hora_fim }}</td>
                {% if reserva.multa %}
                <td>{{ reserva.multa }}</td>
                {% else %}
                <td>0</td>
                {% endif %}
                <td>R$ {{ reserva.sala.preco }}</td>
                <td><a href="/reservas/{{ reserva.id }}/gerenciar" class="edit-button">Gerenciar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    {% endif %}
    {%else%}
        <p class="mt-4">Acesso negado.</p>
    {% endif %}
</div>
{%endblock%}