<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas Reservadas</title>
  
</head>
<body>
    <h1>Salas Reservadas</h1>



     <table>
        <tr>
        <th>  Sala  </th>
        <th>  Usuario  </th>
        <th>  Data  </th>
        <th>  Status   </th>
      </tr>
      {% for r in reserva %}
      
      <tr>
        <td>{{ r.sala }}</td>
        <td>{{ r.usuario }}</td>
        <td>{{r.data}}
        <td>{{ r.status }}</td>

        
      </tr>
     
      {% endfor %}
      </table> 


</body>