{% extends 'core/base.html' %}

{% block title %}Salas{% endblock %}

{% block content %}
{%if conta.nivel == 1 %}
    <div class="container text-center mt-5">
        <h1 class="mb-4 text-primary">SALAS REGISTRADAS</h1>
        <a href="{% url 'core:cadastrar_sala' %}" class="btn btn-primary mb-3">Cadastrar Nova Sala</a>
    </div>
    {%else%}

    
    {% if salas|length == 0 %}
        <div class="container text-center mt-5">
            <h1 class="mb-4 text-primary">NENHUMA SALA REGISTRADA</h1>
            if salas|length == 0: 
                <p>Nenhuma sala registrada.</p>    
            
        </div> 
    {% else %}
    <div class="container text-center mt-5">
        <h1 class="mb-4 text-primary">SALAS REGISTRADAS</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numero da Sala</th>
                    <th>Andar</th>
                    <th>Recursos</th>
                    <th>Capacidade</th>
                </tr>
            </thead>
            <tbody>
                {% for sala in salas %}
                <tr>
                    <td>{{ sala.numsala }}</td>
                    <td>{{ sala.andar }}</td>
                    <td>{{ sala.recursos }}</td>
                    <td>{{ sala.capacidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
    
        
    
    </div>
    {% if conta.nivel == 3 %}
    <div class="container text-center mt-5">
        <h1 class="mb-4 text-primary">EDITAR SALA</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numero da Sala</th>
                    <th>Andar</th>
                    <th>Recursos</th>
                    <th>Capacidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for sala in salas %}
                <tr>
                    <td>{{ sala.numsala }}</td>
                    <td>{{ sala.andar }}</td>
                    <td>{{ sala.recursos }}</td>
                    <td>{{ sala.capacidade }}</td>
                    <td><a href="{% url 'core:editar_sala' sala.id %}" class="btn btn-secondary">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endif %}
{% endblock %}
    
