{% extends 'core/base.html' %}

{% block title %}Salas{% endblock %}

{% block content %}
{%if conta.nivel %}
 
   

    
    {% if salas|length == 0 %}
        <div class="container text-center mt-5">
            <h1 class="mb-4 text-primary">NENHUMA SALA REGISTRADA</h1>
                {% if conta.nivel > "1" %}
                <a href="/salas/criar" class="btn btn-primary mb-3">+</a>
                {% endif %}
        </div> 
    {% else %}
    <div class="container text-center mt-5">
      
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numero da Sala</th>
                    <th>Recursos</th>
                    <th>Capacidade</th>
                    <th>Disponibilidade</th>
                    <th>Preço</th>
                   
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for sala in salas %}
                <tr>
                    <td>{{ sala.numsala }}</td>
                    <td>

                        {% for recurso in sala.recursos.all %}
                        {{ recurso.nome }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    </td>   
                    <td>{{ sala.capacidade }}</td>
                    {% if sala.disponivel %}
                        <td>Sim</td>
                    {% else %}
                        <td>Não</td>
                    {% endif %}
                    <td>{{ sala.preco }}</td>
                   
                    {% if conta.nivel > "1" %}
                    <td><a href="/salas/{{ sala.id }}/editar" class="edit-button">Editar</a>

                    <a href="/salas/{{ sala.id }}/reservar" class="edit-button" >Resevar</a>
                        </td>
                    {% else %}
                    <td><a href="/salas/{{ sala.id }}/reservar" class="edit-button" >Resevar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if conta.nivel > "1" %}

        <button class="addsala" onclick="window.location.href='/salas/criar'">+</button>
        {% endif %}
    
    </div>
   
{% endif %}
{% endif %}
{% endblock %}
    
